/* BEGINNING OF CSS TEST */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    border: 1px solid #f1f1f1;
    overflow: hidden!important;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: perspective(1000px) rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: auto;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: auto;
    color: white;
    transform: rotateY(180deg);
  }
  
  .test-class{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .goals-text-p{
    font-size: 1.75rem;
  }
  
  /* END OF CSS TEST */
  
  .logo{
      width: 250px;
  }
  .nav-item-social-responsive,.social-icons-resp{
      display: none;
  }
  .nav-item {
      font-size: 1.5rem;
      color: black !important;
      margin-left: 50px;
      font-weight: bold;
  }
  
  .nav-item-meet-dennis{
      width: 170px;
  }
  
  .social-icons{
  margin-left: auto;
  }
  
  .red {
      background-color: #9e1a16;
      color: white !important;
      font-weight: 400;
  }
  
  .social-media-tablet{
      width: 0;
      height: 0;
  }
  .tablet-only{
      display: none;
  }
  
  .dark-red{
      background-color: #801212;
      color: white !important;
      font-weight: 400;
  }
  
  .main-section{
      background-image: url("images-copy/background.png");
      overflow-x: hidden;
  }
  
  .img-portrait {
      margin-left: 65%;
      width: 450px;
      z-index: 2;
      position: relative;
  }
  .main-message {
      z-index: 1;
      position: absolute;
      border-style: solid;
      width: 60%;
      margin-left: 10%;
      margin-top: 10%;
      border-color: white;
  }
  
  .main-message >h2 {
      font-size: 4rem;
      color: white;
      margin: 5%;
  
  }
  
  .american-flag{
      margin: 5%;
      overflow-x: hidden;
  }
  
  .flag-img{
      width: 520px;
      margin-top: 5%;
  }
  
  .american-flag-text >h1{
      color:#9e1a16;
      font-size: 3.3rem;
      text-align: right;
  }
  
  
  .american-flag-text >p{
      color:black;
      font-size: 1.7rem;
      text-align: right;
      margin-left: 15%;
  
  }
  
  .stars{
      width: 100%;
  }
  
  .numbers-title{
      text-align: center;
      color: #9e1a16;
      width: 40%;
      margin: auto;
      margin-top: 3%;
      font-weight: bolder;
  }
  
  .numbers-information{
      width: 90%;
      margin: auto;
      margin-top: 3%;
      background-color: #801212;
      color: white;
      font-size: 1.6rem;
      padding: 2%;
      margin-bottom: 2%;
  }
  
  .numbers-information-para{
      font-size: 4rem;
      text-align: center;
  
  }
  .number{
      color: black;
      text-align: center;
      font-size: 5rem;
      width: 250px;
  }
  
  .number > p{
      background-color: white;
      width: 70%;
      margin: auto;
      font-weight: bold;
  }
  
  .program-cards{
      margin: 0;
      text-align: center;
  }
  
  .program-item >h1{
      color: #9e1a16;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      width: 78%;
      margin: auto;
  }
  .program-item >p{
      color: black;
      text-align: center;
      width: 349px;
      margin: auto;
  }
  .program-item >h2{
      color: black;
      font-weight: bold;
      text-align: center;
      width: 50%;
      margin-left: 26%;
      margin: auto;
  }
  .program-item>img{
      width: 350px;
  }
  
  .quote{
      margin-top: 5%;
      background-color: #9e1a16;
      padding: 5%;
  }
  
  .quote-tile{
      color: white;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
  }
  
  .quote-p{
      color: white;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
  
  }
  
  
  .container-footer >h2{
      font-weight: bold;
  }
  
  .footer{
      overflow-x: hidden;
      text-align: center;
      background-color: black;
      color: white;
      text-align: center;
      padding-top: 1%;
  }
  
  .social-image{
      width: 40px;
  }
  
  
  .col-md-4 >h2 {
      font-size: 1rem;
  }
  
  .contact-us{
      overflow-x: hidden;
      background-image: url("images-copy/contact-background.png");
  
  
  }
  
  .evenlope{
      width: 60px;
  }
  
  .email-h3{
      margin: auto;
      font-size: 1.5rem;
      background-color: #9e1a16;
      border-radius: 40px;
      color: white;
      margin-top: 5%;
      margin-bottom: 5%;
      padding-bottom: 4px;
      width: 50%;
  }
  
  .contact-h2{
      margin-bottom: 5%;
      color: #9e1a16;
  }
  .contact-title{
      color: #9e1a16;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5%;
  }
  
  .right-side-contact{
      text-align: center;
  }
  
  .contact-form{
      margin-bottom: 5%;
      margin-left: 5%;
      margin-right: 5%;
  
  }
  
  label{
      color: #9e1a16;
      font-weight: bold;
      font-size: 1.3rem;
  }
  
  input[type=submit]{
      background-color: #9e1a16;
      border: none;
      color: white;
      padding: 8px 46px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 40px;
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
  
    }
  
  iframe{
      width: 100%;
      height: 87vh;
      border-width : 0
  }
  @media only screen and (max-width: 1400px) {
      .nav-item {
          margin-left: 40px;
      }
  }
  @media only screen and (max-width: 1350px) {
      .nav-item {
          margin-left: 30px;
      }
  }
  @media only screen and (max-width: 1280px) {
      .nav-item {
          margin-left: 20px;
      }
  }
  @media only screen and (max-width: 1220px) {
      .nav-item {
          margin-left: 15px;
      }
  }
  @media only screen and (max-width: 1195px) {
      .nav-item {
          margin-left: 10px;
      }
  }
  @media only screen and (max-width: 1150px) {
      .nav-item {
          margin-left: 2px;
          font-size: 1.3rem;
      }
      .nav-item-meet-dennis{
          width: 150px;
      }
  }
  
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1100px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
  
  
      .donate-here-button {
          width: 100% !important;
          margin-top: 20% !important;
      }
      *{
          overflow-x:hidden;
      }
      .logo{
          width: 250px;
      }
      .navbar-nav{
          width: 100%;
      }
      .nav-item-social{
          display: none;
      }
  
      .nav-item-social-responsive{
          padding-top: 3%;
          display: unset;
          text-align: center;
      }
  
      .social-icons-resp {
          display: unset;
      }
  
      .dark-red{
          text-align: center;
          width: 100%;
      }
  
      .red{
          text-align: center;
          width: 100%;
      }
  
      .tablet-only{
          display: unset;
      }
      .navbar-toggler{
          margin-left: 390px;
          margin-bottom: 10%;
      }
      .number >p{
          padding-left: 20px;
          padding-right: 120px;
  
      }
      ul{
          float: inline-end;
      }
      .social-media-tablet{
          width: 100%;
          height: auto;
      }
      .social-li-tablet{
          margin: auto;
      }
  
      .social-media >ul{
          display: inline-block;
      }
  
      .social-media{
          width: 0;
      }
      .portrait{
          overflow: hidden;
      }
      .img-portrait{
          width: 300px;
          margin-left: 65%;
  
      }
      .flag-img{
          width: 350px;
          margin-left: auto;
          margin-right: auto;
  
      }
      .main-message{
          margin-left: 5%;
          margin-top: 1%;
          width: 60%;
  
      }
      .main-message > h2{
          font-size: 1.6rem;
      }
      .main-section, .main{
          padding-top: 10%;
      }
      .american-flag-text > h1{
          text-align: center;
          font-size: 2rem;
      }
      .american-flag-text > p{
          text-align: center;
          font-size: 1.5rem;
          margin: auto;
      }
      .numbers-title{
          width: 90%;
          font-size: 2rem;
      }
      .numbers-information{
          width: 95%;
          text-align: center;
      }
      .numbers-information-para{
          font-size: 1.5rem;
      }
      .number > p{
          width: 50%;
          margin-bottom: 5%;
      }
      .program-item>img{
          width: 100%;
      }
      .program-item > h1{
          width: 100%;
          text-align: center;
      }
      .program-item > p{
          width: 100%;
          text-align: center;
      }
      .program-item > h2{
          font-size: 1.3rem;
          text-transform: uppercase;
          width: 80%;
          margin: auto;
          text-align: center;
          margin-bottom: 5%;
          font-weight: bold;
      }
      .quote-tile{
          margin-left:5%;
          font-size: 2rem;
          text-align: center;
  
      }
      .quote-p{
          text-align: center;
          font-size: 1rem;
          margin-right:5%;
          margin: auto;
          text-align: right;
      }
      .col-md-4 > h2{
          font-size: 0.9rem;
      }
  
      ul > li {
          display:inline-block;
          width: 90px;
      }
  
      .social-image{
          width: 40px;
      }
  
      .social-icons-resp{
          text-align: center;
      }
  
      .social-image2{
          margin-left: 5%;
          margin-right: 5%;
      }
      .social-li{
          margin-left: 10%;
      }
  
  }
  @media only screen and (max-width: 600px) {
  
    .flip-card {
      background-color: transparent;
      width: 100%;
      border: 1px solid #f1f1f1;
      height: 70vh;
    }
  
    .numbers-information{
      height: 70vh !important;
    }
     .test-class{
      position: absolute;
      top: 50% !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
    }

    .goals-text-p{
        position: absolute;
    }
  
  
    .goals-text-p{
      font-size: 1.2rem;
    }
  
      .logo{
          width: 236px;
      }
  
      .donate-here-content-rc {
          font-size: 2rem !important;
          line-height: 1em;
          margin-left: 10%;
        }
  
      .donate-here-button {
          width: 100%;
          font-size: 0.7rem;
      }
  
      .white{
          display: none;
      }
  
      .special-join-me{
          width: 80px;
      }
  
      .donate-here-button >h1{
          padding: 5%;
      }
  
      .header-img{
          width: 300px !important;
      }
  
      .azusa-img{
          object-fit: cover;
          height: 300px !important;
          width: 100% !important;
          object-fit: cover !important;
          object-position: center !important;
      }
  
      .portrait{
          overflow: hidden;
      }
      .nav-item-social{
          display: none;
      }
      .nav-item-social-responsive{
          padding-top: 3%;
          display: unset;
          text-align: center;
      }
  
      .dark-red{
          text-align: center;
          width: 100%;
      }
  
      .red{
          text-align: center;
          width: 100%;
      }
      *:not(.flip-card *) {
          overflow-x: hidden;
      }
      .social-media{
          margin-left:auto;
          margin-right:auto;
  
          margin-top: 5%;
          margin-bottom: 0%;
  
      }
      .social-image{
          width: 40px;
      }
  
      .social-image2{
          margin-right: 10px;
          margin-left: 10px;
  
      }
      .social-icons-resp{
          text-align: center;
      }
  
      .social-icons-resp {
          display: unset;
      }
  
      .img-portrait{
          width: 190px;
          margin-left: 65%;
  
      }
      .flag-img{
          width: 90%;
          margin-left: auto;
          margin-right: auto;
  
      }
      .main-message{
          margin-left: 5%;
          margin-top: 1%;
  
      }
      .main-message > h2{
          font-size: 1.6rem;
      }
      .main-section, .main{
          padding-top: 5%;
      }
      .american-flag-text > h1{
          text-align: center;
          font-size: 2rem;
      }
      .american-flag-text > p{
          text-align: center;
          font-size: 1.5rem;
          margin: auto;
      }
      .numbers-title{
          width: 90%;
          font-size: 2rem;
      }
      .numbers-information{
          width: 95%;
          text-align: center;
      }
      .numbers-information-para{
          font-size: 1.5rem;
      }
      .number > p{
          width: 50%;
          margin-bottom: 5%;
      }
      .program-item>img{
          width: 100%;
      }
      .program-item > h1{
          width: 100%;
          text-align: center;
      }
      .program-item > p{
          width: 100%;
          text-align: center;
      }
      .program-item > h2{
          font-size: 1.3rem;
          text-transform: uppercase;
          width: 80%;
          margin: auto;
          text-align: center;
          margin-bottom: 5%;
          font-weight: bold;
      }
      .quote-tile{
          margin-left:5%;
          font-size: 2rem;
          text-align: center;
      }
      .quote-p{
          text-align: center;
          font-size: 1rem;
          margin-right:5%;
          margin: auto;
          text-align: right;
      }
      .col-md-4 > h2{
          font-size: 0.7rem;
      }
      ul > li {
          display:inline-block;
          width: 90px;
      }
      .contact-title{
          font-size: 2rem;
          margin-bottom: 10%;
      }
      .email-h3{
          margin: auto;
          font-size: 1.3rem;
          background-color: #9e1a16;
          border-radius: 40px;
          color: white;
          margin-top: 5%;
          margin-bottom: 5%;
          padding-top: 3px;
          padding-bottom: 4px;
          width: 90%;
      }
      .contact-form{
          margin-top: 5%;
      }
    }
  
    .bio-tite , .for-azusa-title{
      text-align: center;
      margin-top: 5%;
      margin-bottom: 10%;
      color: #9e1a16;
      font-weight: bold;
    }
  
    .for-azusa-title{
      text-align: center;
      margin-top: 10%;
      margin-bottom: 10%;
      color: #9e1a16;
      font-weight: bold;
    }
  
  
    .bio-content, .for-azusa{
      margin: auto;
      width: 75%;
      line-height: 2em;
      text-align: justify;
      text-justify: inter-word;
    }
  
    .bold-red{
      color: #801212;
      font-weight: 900;
    }
  
    .bold-red-final{
      color: #9e1a16;
      font-weight: 999;
      font-size: 1.1em;
    }
  
    .for-azusa{
      margin-bottom: 5%;
    }
  
    .read-more{
      cursor: pointer;
    }
  
    a:link, a:visited,  a:hover, a:active{
      text-decoration: none !important;
      color: black;
    }
  
    /* bio section */
  
  
  .bio-header-section{
      background-image: url("images-copy/background.png");
      overflow-x: hidden;
      color: white;
  }
  
  .header{
      text-align: center;
      margin-top: 6%;
  }
  .header>h1{
      font-size: 3rem;
      font-weight: bold;
  }
  .bio-section{
      text-align: justify;
      text-justify: inter-word;
      margin-top: 5%;
      margin-bottom: 5%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .passion{
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 5%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      color: white;
      background-color: #9e1a16;
      padding: 20px 20px 5px 20px;
  }
  .for-azusa-section{
      margin-top: 5%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  .azusa-header{
      background-image: url("images-copy/background.png");
      overflow-x: hidden;
      object-fit: cover;
      color: white;
  }
  
  .azusa-img{
      width:100%;
  }
  
  
  .bio-potrait{
      width: 100%;
  }
  
  .bio-header >h1{
      text-align: center;
  }
  
  .header-container{
      margin: auto;
      text-align: center;
  }
  
  .header-img{
      width: 700px;
  }
  
  .for-azusa-section{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      text-justify: inter-word;
  }
  
  .for-azusa-content-rc >h1{
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
  }
  
  .for-azusa-content-rc >img{
      width: 100%;
  }
  
  .for-azusa-content-rc >p{
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  .donate-here-section{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      background-color: #801212;
      color: white;
      margin-top: 2%;
      margin-bottom: 5%;
      padding: 3%;
      overflow: hidden !important;
  
  }
  
  .donate-here-content-rc{
      font-size: 3.5rem;
      line-height: 1em;
      margin-left: 10%;
  }
  
  .donate-here-button{
      width: 65%;
      margin: auto;
      margin-bottom: auto;
      margin-top: auto;
  }
  
  .donate-here-button >h1{
  
      color: black;
      background-color: white;
      padding: 10%;
      font-weight: 900;
      text-align: center;
      font-size: 300%;
  }
  
  .special-join-me{
      font-size: 4rem;
  }
  
  .white-cont{
      margin: auto;
  
  }
  .white{
      width: 100%;
      height: 2px;
      padding: 1%;
      background-color: white;
      margin-left: -45px;
  }
  
  .float-container {
      border: 3px solid #fff;
      padding: 20px;
  }
  
  .float-child {
      width: 50%;
      float: left;
      padding: 20px;
      border: 2px solid red;
  }
  
  .red-line{
      width: 12%;
  }
  
  .red-line-v{
      border-left: 10px solid #9e1a16;
      padding-left: 3%;
  }
  